.recent_head{
    font-size: 24px;
    margin-bottom: 3vw;
    font-weight: bold;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1vw;
}

.display_card{
    width: 13vw;
    background-color: #121212;
    padding: 1.5vw;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: .5vw;
}
.display_card:hover{
    background-color: #282828;
    cursor: pointer;
}
.display_card p{
    font-size: 12px;
}

.display_card img{
    width: 10vw;
    border-radius: .5vw;
}
